.card_collapse{
    margin-top: 33px;
}
.collapse_title{
    border-radius: 5px;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 1;
    position: relative;
}
.collapse_title p{
    color: #FFFFFF
}

.collapse_title img{
    rotate: 180deg;
}

.collapse_description{
    padding: 27px 23px 18px;
    margin-top: -5px;
    background-color: #F7F7F7;
    border-radius: 5px;
    z-index: 0;
}
.collapse_description p {
    margin-bottom: 0;
    margin-top: 0;
}
.rotate-arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
