.error{
     text-align: center;
    padding-bottom: 159px;
}

.error h1{
    font-size: 288px;
    margin-bottom: 66px;
    margin-top: 169px;
}
.error h2{
    font-size: 36px;
    margin-bottom: 182px;
}

.error a{
    text-decoration: auto;
}
