.ficheLogement{
    color: #FF6060;
    text-align: left;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
p{
    font-size: 18px;
}

.carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.carrousel img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrousel .fleche {
    position: absolute;;
    width: 79px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carrousel .flechegauche {
    left: 10px;
    rotate: -90deg;
}

.carrousel .flechedroite {
    right: 10px;
    rotate: 90deg;
}

.carrousel .counter {
    position: absolute;
    bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}


.ficheLogement .enTete{
    display: flex;
    justify-content: space-between;
}
.ficheLogement h1{
    font-size: 36px;
    min-height: 51px;
    margin: 0;
}
.ficheLogement .location{
    font-size: 18px;
    min-height: 26px;
    margin: 0;
}
.tags{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.tag{
    min-width: 95px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.tag p{
    color: white;
    font-size: 14px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile .name{
    margin-right: 10px;
    height: 52px;
    text-align: end;
}
.profile .name p{
    margin-bottom: 4px;
    margin-top: 0;
}
.profile img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.stars{
    display: flex;
    margin-top: 27px;
}
.stars img{
    margin-left: 15px;
}

.descriEquip {
    display: flex;
    justify-content: space-between;
}

.descriEquip .card_collapse {
    width: 582px;
    margin-right: 20px;
}

.descriEquip .card_collapse:last-child {
    margin-right: 0;
}

.descriEquip .collapse_title {
    border-radius: 10px;
}

.descriEquip .collapse_description {
    border-radius: 10px;
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 27px;
    min-height: calc(100% - 47px - 40px - 27px + 10px);
}

@media screen and (max-width: 767px){
    p{
        font-size: 12px;
    }
    .carrousel{
        height: 255px;
    }
    .carrousel img{
        border-radius: 10px;
    }
    .carrousel .fleche{
        width: 20px;
        height: 12px;
    }
    .carrousel .counter{
        display: none;
    }
    .ficheLogement .enTete{
        display: initial;

    }
    .ficheLogement h1{
        font-size: 18px;
        min-height: initial;
    }
    .ficheLogement .location{
        font-size: 14px;
        min-height: initial;
        margin-top: 5px;
    }
    .tags{
        margin-top: 0;
        flex-wrap: wrap;
    }
    .tag{
        margin-top: 10px;
    }
    .tag p{
        font-size: 12px;
    }
    .profileStars{
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .profile .name{
        height: initial;
    }
    .profile .name p{
        margin-bottom: 0;
        margin-top: 0;
    }
    .profile img{
        width: 32px;
        height: 32px;
    }
    .stars{
        margin-top: 0;
    }
    .stars img{
        width: 13px;
        margin-left: 0;
        margin-right: 7px;
    }
    .descriEquip{
        display: initial;
        width: 100%;
    }
    .descriEquip .card_collapse {
        width: 100%;
        margin-right: 0;
    }
    .descriEquip .collapse_description {
        border-radius: 5px;
        margin-top: -5px;
        padding-top: 23px;
        padding-bottom: 10px;
        min-height: initial;
    }
}