header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto ;
    max-width: 1240px;
    margin-top: 40px;
}
a,a:visited{
    text-decoration: none;
    color: #FF6060;
    font-size: 26px;
}


.accueil{
    padding-right: 57px;
}
